mixin p(title, ...text)
        .paragraph(data-aos="fade-up")
            if title === false
                each item in text
                    p !{item}
            else
                h3 !{title}
                each item in text
                    p !{item}

mixin p--top(title, ...text)
        .paragraph--first(data-aos="fade-up")
            if title === false
                each item in text
                    p !{item}
            else
                h3 !{title}
                each item in text
                    p !{item}